body {
  background-color: rgb(10, 10, 10);
}

h1 {
  text-align: center;
  color: antiquewhite
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
    flex: 1 1 16%
  
}

.shop {
  width: 30%;
  border: 3px solid red;
  margin: 6px;
  background-color: aquamarine;
}

.tagline {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.shoplinks {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.address {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin: 1px; 
}

.phone-number {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin: 1px; 
}
article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

article a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
